<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pov</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MPDocumentIcon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>org.povray.pov</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SceneFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SceneDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>inc</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MPIncludeIcon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>IncludeFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SceneDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpTpl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MPTemplateIcon</string>
			<key>CFBundleTypeName</key>
			<string>Template</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ini</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>MPIniIcon</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>IniFile</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SceneDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>POV-Ray Unofficial, (c) 1991-2003 Persistene of Vision Team. (c) 2003- 2016 Persistence of Vision Raytracer Pty. Ltd.Unofficial Compile by: Yvo and René© Smellenbergh e-mail: yvo.s@gmx.net</string>
	<key>CFBundleIconFile</key>
	<string>ApplicationIcons</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>POV-Ray 3.7 Unofficial</string>
	<key>CFBundleSignature</key>
	<string>NPOV</string>
	<key>CFBundleVersion</key>
	<string>3.7.0.8</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.graphics-design</string>
	<key>NSAppSleepDisabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>PovRayApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.source-code</string>
			</array>
			<key>UTTypeDescription</key>
			<string>POV-Ray source</string>
			<key>UTTypeIconFile</key>
			<string>MPDocumentIcon</string>
			<key>UTTypeIdentifier</key>
			<string>org.povray.pov</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>pov</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>model/x-pov</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
