<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PovRay37 vfe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libilmbase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>libjpeg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libopenexr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libpng.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libpovray_backend.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libtiff.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>libzlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>821CDDD20C90179A00CC0BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821CDDD70C9017A600CC0BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821CDDDC0C9017BA00CC0BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>821CDDE10C9017C500CC0BDA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>825D5FE91103170E00E0FF88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>825D610611031C3A00E0FF88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82CCB1200ED3348900EBCCF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
